<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaxiHub</title>

    <div class="top-line d-flex justify-content-center align-items-center">
        <div>
            <img src="${require('../images/taxihub-logo.png')}" alt="Taxi Hub website logotype">
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div>
                <img class="svg-test" src="${require('../images/icons/phone.svg')}" alt="">
                <p class="d-inline">0(800)236 6555</p>
            </div>

            <div class="container">
                <ul class="navbar-nav d-flex justify-content-between text-uppercase mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="#" role="button" aria-expanded="false"
                            aria-haspopup="true">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <div>
                odmowmdowdmomowd
            </div>
        </div>



    </nav>






</head>

<body>
</body>

</html>