<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaxiHub</title>
    
    <div class="container-fluid" style="background-color:orange">
        <div class="terr" style="background-color:mediumvioletred;width:150px">
            wdawdwd
        </div>
    <div class="container test">
        <ul class="nav" style="background-color: grey">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
    </div>
    </div>
</head>
<body>
</body>
</html>